***This is the demonstration of Python Data Structures as a part of 100 Days to ML series***
Here are the data structures that we are going to learn in today's lesson.
1. _Lists_: 
 Lists are the collections or sequences of letters or numbers. They are represented using [] and each element in the list is   seperated by a ***,***. While calling a list element, we use index of the element. In Python the index starts with 0, so the index of first element is 0, second element is 1 and so on...

2. _Numpy Arrays_ :
    Python has a seperate package for mathematical calculations, called NumPY, stands for _Numeric Python_. The arrays of Num Py are more similar to lists, however NumPy arrays are used to store lists of numerical data and to represent vectors, matrices, and even tensors. NumPy arrays are designed to handle large data sets efficiently and with a minimum of fuss. Hence, we would be using Numpy Arrays, in our Machine Learning Algorithms, rather than Lists.
    
3. _Dictionaries_ :
   Python has a speical type of data structures, called _Dictionaries_ that stores data in Key - value pairs, instead of single elements. To call an element from a Dictionary, we use the Key values, instead of index.

4. _Data Frames_ :
   Data Frames are similar to tables in databases. They are more like matrices, however they have column labels and we can call elements from Data Frames, using column names or index valus.

In [1]:
my_lst = [1,'a',0.2,'beat',None]

In [2]:
type(my_lst)

list

In [3]:
for i in my_lst:
    print(type(i))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'NoneType'>

In [4]:
import numpy as np

In [5]:
my_arr = np.array([1,'a',.5,'delta',True])

In [6]:
type(my_arr)

numpy.ndarray

In [7]:
my_dict = {'Key1':'Val1'}

In [8]:
my_lst[0]

1

In [9]:
my_dict['Key1']

'Val1'

In [10]:
import pandas as pd

In [11]:
my_df = pd.DataFrame({'col1':[1,2,3],'col2':[4,5,6]})

In [12]:
type(my_df)

pandas.core.frame.DataFrame

In [13]:
my_df

   col1  col2
0     1     4
1     2     5
2     3     6

In [14]:
my_df['col1']

0    1
1    2
2    3
Name: col1, dtype: int64